<li id="comment-<%= comment._id%>">
  <p>
    <% if((locals.user) && (locals.user.id == comment.user.id)){%>
    <small>
      <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>"
        >X</a
      >
    </small>
    <%}%>
    <small>
        <%= comment.user.name%> says :
    </small>
    <%=comment.content%>
    <% if(locals.user){%>
        <form class="like-button-form" action="/likes/toggle/?id=<%=comment.id%>&type=Comment" method="POST">
            <span id="like-<%=comment.id%>"><%=comment.likes.length%></span>&nbsp;<button type="submit" >Like</button>
        </form>
    <%}%>
    <br />
  </p>
</li>
