<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="<%= assetPath('css/layout.css')%>" />
  <link rel="stylesheet" type="text/css" href="<%= assetPath('css/header.css')%>" />
  <link rel="stylesheet" type="text/css" href="<%= assetPath('css/footer.css')%>" />

  <%- style%>
</head>

<body>
  <%- include('_header');%>

  <main id="layout-main">
    <%- body%>
  </main>
  <!-- <script src="script.js"></script> -->
  <%-script%>
  <script>
      <% if (flash.success && flash.success.length > 0) {%>
      new Noty({
        theme: 'relax',
        text: "<%= flash.success%>",
        type: 'success',
        layout: 'topRight',
        timeout: 1500
      }).show();
      <%}%>
      <% if (flash.error && flash.error.length > 0) {%>
      new Noty({
        theme: 'relax',
        text: "<%= flash.error%>",
        type: 'error',
        layout: 'topRight',
        timeout: 1500
      }).show();
      <%}%>
      <% if (flash.info && flash.info.length > 0) {%>
      new Noty({
        theme: 'relax',
        text: "<%= flash.info%>",
        type: 'information',
        layout: 'topRight',
        timeout: 1500
      }).show();
      <%}%>
  </script>
</body>

</html>